body {

    font: arial;
    font-size: 20px;
    overflow: hidden;
    height: 900px;
    
    
}


html {

    height: 100%;
}

.img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125;
    max-width: 272px;
}

#searchdiv{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    width: 375px;
    height: 28px;
    

}

#searchwrapper {

    margin-top: 10px;
    text-align: center;

}

button{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    margin: 11px;
    padding: 16px;
    border: none;
}

#btnsubmit:hover{

    border: 1px solid #f8f9fa;
}

#btnifl:hover{

    border: 1px solid #f8f9fa;
}
#navbar { 

    width: 100%;
    height: 24px;
    
}

ul  {

    list-style: none;
    display: block;
    margin-right: 0px;
    margin-top: 20px;
    padding: 10px

}

a {

    color: #000;
    text-decoration: none;
}

a:hover {
    
    text-decoration: underline;
}

li {

    font-size:  small;
    font-family: Arial, Helvetica, sans-serif;
    
}


.navleft {

    float:left;
    margin-right: 15px;
    margin-left: 0px;
}

.navright {


    float:right;
    margin-right:15px;
}
#prof {
    margin-left: 0px;
    position: relative;
    top: -22px;
    border-radius: 50%;
    padding-left: 0px;
    transform: scale(0.45);
}

#logo {
    
  position: relative;
  width: 20px;
  top: -3px;
  opacity: 0.75;
  padding-left: 0px;
}
#gmail {


    float:right;
    margin-right: 15px;
}

#images {
    margin-right: 15px;
    float:right;
}

#ftrnav{

    margin-top: 390px;
    background-color: lightgray;
    padding-bottom: 10px;
    
    
}

#ftrul {

    flex: wrap;
    align-content: center;
}